<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Gold Store" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" type="image/png" href="<%= asset_path('favicon-96x96.png') %>" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="<%= asset_path('favicon.svg') %>" />
    <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path('apple-touch-icon.png') %>" />
    <link rel="manifest" href="<%= asset_path('site.webmanifest') %>" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
